<div class="container">
  <h2>New course</h2>
  <div class="input-group input-group_full-size">
    <label for="title">Title:<span>*required</span></label>
    <input id="title" [(ngModel)]="title" placeholder="Text input" required>
  </div>

  <div class="input-group input-group_full-size">
    <label for="description">Description:<span>*required</span></label>
    <textarea id="description" [(ngModel)]="description" placeholder="Add description" required></textarea>
  </div>

  <app-input-date [date]="date" (input)="date=$event.target.value"></app-input-date>

  <app-input-duration [duration]="duration" (input)="duration=$event.target.value"></app-input-duration>

  <app-input-tag [authors]="authors" (input)="authors=$event.target.value"></app-input-tag>

  <div class="footer">
    <button type="cancel" class="button button_m button_cancel" routerLink="/courses">Cancel</button>
    <button type="submit" class="button button_m button_ok" (click)="onSubmit()">Save</button>
  </div>
</div>
