<div class="container">
  <h2>New course</h2>
  <div class="input-group input-group_full-size">
    <label for="title">Title:<span>*required</span></label>
    <input id="title" placeholder="Text input" required>
  </div>

  <div class="input-group input-group_full-size">
    <label for="description">Description:<span>*required</span></label>
    <textarea id="description" placeholder="Add description" required></textarea>
  </div>

  <div class="input-group input-group_small-size">
    <label for="duration">Duration:<span>*required</span></label>
    <input id="duration" type="number" placeholder="minutes" required>
  </div>

  <div class="input-group input-group_small-size">
    <label for="date">Date:<span>*required</span></label>
    <input id="date" type="date" required>
  </div>

  <div class="input-group input-group_semi-size">
    <label for="authors">Authors:<span>*required</span></label>
    <input id="authors" type="text" placeholder="Start typing" required>
  </div>

  <div class="footer">
    <button type="cancel" class="button button_m button_cancel">Cancel</button>
    <button type="submit" class="button button_m button_ok">Login</button>
  </div>
</div>
