<div class="search">
  <div class="search__input">
    <i class="search__input-icon material-icons">search</i>
    <input [(ngModel)]="value" class="search__input-field" placeholder="Text to search" (keyup.enter)="search()">
  </div>
  <button class="search__button button button_l button_ok" (click)="search()">Search</button>
</div>

<div class="menu">
  <button class="button button_m button_action">
    <i class="menu__button-icon material-icons">add</i>
    <span class="menu__button-text">Add course</span>
  </button>
</div>

<div *ngIf="courses.length === 0" class="container" >
  <p>NO DATA. FEEL FRE TO ADD THE NEW COURSE</p>
</div>

<div *ngFor="let course of courses | orderBy: 'creationDate'" class="container" appAddTheBorder="{{course.creationDate}}"
     [ngClass]="{'top-rated': course.topRated}">
  <app-course-item [item]="course" (deleteItem)="onDeleteItem(course.id)"></app-course-item>
</div>

<div class="container">
  <button (click)="loadMoreHandler()" class="link">LOAD MORE</button>
</div>
