$soft-blue: #577ce6;
$dark-sky-blue: #30b6dd;
$pale-grey: #f2f3f7;
$steel: #868996;
$charcoal-grey: #414452;
$silver: #c0c3ce;
$white: #ffffff;
$sick-green: #9bc837;
$cloudy-blue: #b9bdce;
$slate-grey: #525462;
$dark: #2c2f3c;
$black: #000000;
$seafoam-blue: #76cdd8;
$pear: #e2f86a;
$light-grayish-blue: #d9dbe3;
