@import url('https://fonts.googleapis.com/css?family=Comfortaa|Gamja+Flower');

p {
  font-family: 'Comfortaa', cursive;
  font-size: 30px;
  text-align: center;
  color: #414452;
}

a {
  color: red;
  text-decoration: none;
}

.not-found {
  width: 500px;
  margin: auto;
  background-color: #9bc837;
  color: white;
  padding: 15px 30px;
}

.tipsiz {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  flex-direction: column;
  color: #414452;
}

.tipsiz-body {
  display: flex;
  align-items: center;
  margin: 10px;
}

.arm {
  align-self: flex-end;
  width: 50px;
  height: 90px;
  border-top: 3px solid #414452;
}

.left-arm {
  border-right: 3px solid #414452;
  transform: skew(20deg);
}

.right-arm {
  border-left: 3px solid #414452;
  transform: skew(-20deg);
}

.face {
  width: 300px;
  height: 200px;
  border: 3px solid #414452;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 15px;
}

.upper-face {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 80px;
  margin-left: 80px;
}

.element {
  font-size: 60px;
}

.mouth {
  width: 20px;
  height: 10px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border: 3px solid #414452;
  border-bottom: 0;
}
