@import '../../common-styles/variables';

.item {
  display: flex;
  flex: auto;
  text-align: left;
  color: $dark;

  .left-column {
    width: 100%;

    .header {
      display: flex;
      justify-content: space-between;
      height: 38px;

      .time-info {
        display: flex;

        button {
          color: $cloudy-blue;
          font-size: 12px;
        }
      }
    }

    .description {
      color: $slate-grey;
      font-size: 14px;
      line-height: 24px;
    }
  }

  .right-column {
    position: relative;
    min-width: 285px;

    .action-bar {
      position: absolute;
      bottom: 0;
      display: flex;
      margin-left: 80px;

      .button {
        margin-left: 20px;
      }
    }
  }
}
