<article class="item">
  <div class="left-column">
    <div class="header">
      <h2 class="title">
        {{item.name | uppercase}}
        <i *ngIf="item.isTopRated" class="material-icons star">
          star
        </i>
      </h2>
      <div class="time-info">
        <button class="button button_s">
          <i class="material-icons">
            access_time
          </i>
          <span class="duration">{{item.length | time}}</span>
        </button>
        <button class="button button_s">
          <i class="material-icons">
            calendar_today
          </i>
          <span class="date">{{item.date | date}}</span>
        </button>
      </div>
    </div>
    <div class="description">
      <span>{{item.description}}</span>
    </div>
  </div>
  <div class="right-column">
    <div class="action-bar">
      <button id="edit-item" class="button button_s button_action" (click)="edit()">
        <i class="material-icons">edit</i>
        <span>Edit</span>
      </button>

      <button id="delete-item" class="button button_s button_action" (click)="delete()">
        <i class="material-icons">delete</i>
        <span>Delete</span>
      </button>
    </div>
  </div>
</article>
