@import '~normalize.css';

@import 'app/common-styles/variables';

* {
  box-sizing: border-box;
}

html {
  font-family: 'Source Sans Pro', sans-serif;
}

button {
  line-height: 1;
}

.button {


  &_ok {
    background-color: $sick-green;
  }

  &_action {
    background-color: $dark-sky-blue;
  }
}
